<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cashier</title>

    <script th:src="@{~/vendor/jquery/jquery-3.7.1.min.js}"></script>

    <style>
        #items .group-item:last-of-type button {
            display: none;
        }
    </style>
</head>
<body>
    <div id="loading" hidden>
        Loading...
    </div>

    <form action="#" th:action="@{~/transactions}" method="post" id="form-transaction">
        <div id="items"></div>
        <button type="submit">Tambah</button>
    </form>

    <template id="template-item" hidden>
        <div class="group-item">
            <label>
                Item

                <select name="items[][itemId]">
                    <option selected></option>
                    <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>

                <p class="invalid" hidden>Silakan pilih salah satu item</p>
            </label>

            <label>
                Jumlah

                <input type="number" name="items[][qty]" value="1" min="1" required>
            </label>

            <button type="button">Batalkan</button>
        </div>
    </template>

    <hr>

    <ol id="transaction-histories" th:data-url="@{~/transactions}">
        <li>Getting transaction histories...</li>
    </ol>

    <script>
        function addItemIfNeeded() {
            console.debug('Add item, if needed')

            if ($('#items select option:selected:not([value])').length <= 0) {
                addItem()
            }
        }

        function addItem() {
            console.debug('Adding item')
            console.debug('Cloning .group-item')

            const $groupItem = $('#template-item').contents().filter('.group-item').clone()

            console.debug('Setting select event handler')

            $groupItem
                .find('select')
                .change(function (e) {
                    $(e.currentTarget)
                        .closest('.group-item')
                        .find('.invalid')
                        .attr('hidden', true)

                    addItemIfNeeded()
                })
                .on('invalid', function (e) {
                    $(e.currentTarget)
                        .closest('.group-item')
                        .find('.invalid')
                        .removeAttr('hidden')
                })

            console.debug('Setting button event handler')

            $groupItem
                .find('button')
                .click(function (e) {
                    $(e.currentTarget).closest('.group-item').remove()

                    addItemIfNeeded()
                })

            $groupItem.appendTo('#items')

            console.debug('Appended to list')
        }

        function handleSubmit() {
            $('#form-transaction').submit(function (e) {
                e.preventDefault()

                console.debug('Form submit catched')

                loading(true)
                validateForm()

                if (isValidForm()) {
                    console.debug('Form valid, submit using AJAX')

                    submitAjax()
                }
            })
        }

        function loading(show = true) {
            const $loading = $('#loading')

            if (show) {
                $loading.removeAttr('hidden')

                console.debug('Loading shown')
            } else {
                $loading.attr('hidden', true)

                console.debug('Loading hidden')
            }
        }

        function validateForm() {
            console.debug('Validating form')

            if ($('#items select option:selected[value]').length >= 1) {
                console.debug('Form valid')

                return
            }

            $('#items select').trigger('invalid')
            loading(false)

            console.debug('Form invalid')
        }

        function isValidForm() {
            return $('#form-transaction .invalid:not([hidden])').length <= 0
        }

        function submitAjax() {
            const $form = $('#form-transaction')

            console.debug('Submitting')

            $.ajax({
                method: 'POST',
                url: $form.attr('action'),
                contentType: 'application/json',
                data: JSON.stringify(prepareFormData()),
            }).then(function () {
                loading(false)
                getTransactionsIfNeeded()

                console.debug('Done submit form')
            })
        }

        function prepareFormData() {
            console.debug('Preparing data')

            const data = { items: [] }

            $('#form-transaction .group-item').each(function (_, group) {
                const itemId = parseInt($(group).find('select[name="items[][itemId]"]').val())
                const qty = parseInt($(group).find('input[name="items[][qty]"]').val())

                if (! itemId) {
                    return
                }

                data.items.push({ itemId, qty })
            })

            return data
        }

        let transactionState = 'idle'

        function getTransactionsIfNeeded() {
            console.debug('Getting transactions, if needed')

            if ('loading' !== transactionState) {
                getTransactions()
            }
        }

        function getTransactions() {
            transactionState = 'loading'
            console.debug('Getting transactions')

            const $transactionHistories = $('#transaction-histories')

            $.ajax({
                method: 'GET',
                url: $transactionHistories.attr('data-url'),
            }).then(function (list) {
                transactionState = 'success'

                $transactionHistories.empty().append(list)

                console.debug('Success get transactions')
            }).fail(function () {
                transactionState = 'failed'

                console.debug('Failed get transactions')
            })

            console.debug('Getting transactions done')
        }

        $(function () {
            addItemIfNeeded()
            handleSubmit()
            getTransactionsIfNeeded()

            console.debug('Document loaded')
        })
    </script>
</body>
</html>
